.theme-pro {

  --theme-color-primary: #5e5eff;
  --theme-color-light: #dbdef4;
  --theme-color-complimentary: #7171ad;

  --theme-background: #50505c linear-gradient(19deg, #838392 0%, #50505c 100%);

  --theme-page: #202029;
  --theme-page-light: #282835;
  --theme-page-text: hsl(240, 20%, 86%);
  --theme-page-text-light: #9ea7bc;
  --theme-page-instructions-text: #3b4559;
  --theme-page-instructions-background: rgba(200,200,200,0.4);
  --theme-modal: hsl(240, 9%, 18%);

  --theme-intro-gradient-1: rgba(255,255,255,0);
  --theme-intro-gradient-2: rgba(255,255,255,0.95);

  --theme-header-text: #f5f6fb;
  --theme-caption-text: #000;
  --theme-caption-read: #8795a1;
  --theme-announcements-gradient-1: rgba(32, 32, 41, 0);
  --theme-announcements-gradient-2: rgba(32, 32, 41, 0.95);

  --theme-line-separator: #3a3a4a;
  --theme-wallet-overview-border: #dae1e7;

  --theme-table-row-hover: var(--theme-page-light);
  --theme-transaction-sent: var(--theme-page-light);
  --theme-transaction-sent-arrow: #e51317;
  --theme-transaction-received: var(--theme-page-light);
  --theme-transaction-received-arrow: #2db761;
  --theme-send-circle-second-signature: #6c5494;
  --theme-send-circle-second-signature-text: #3b2d54;
  --theme-send-circle-register-delegate: #d24562;
  --theme-send-circle-register-delegate-text: #ffffff;
  --theme-send-circle-vote: #e393a6;
  --theme-send-circle-vote-text: #954458;
  --theme-transaction-detail-gradient1: #202029;
  --theme-transaction-detail-gradient2: #131319;
  --theme-transaction-detail-highlight: #3d3d4a;
  --theme-transaction-detail-arrow: #4d536c;

  --theme-wallet-new-selected: #282a2b;
  --theme-wallet-new-unselected: #9ea7bc;
  --theme-wallet-sign-verify-message-text: #c5cfde;
  --theme-wallet-grid-shadow: 0 10px 16px rgba(0, 0, 0, 0.12);

  --theme-feature: var(--theme-page);
  --theme-feature-item-text: hsl(240, 12%, 52%);
  --theme-feature-item-hover: hsl(240, 12%, 24%);
  --theme-feature-item-alternative: var(--theme-settings-border);
  --theme-feature-item-alternative-text: #8b9bab;
  --theme-feature-item-hover-text: #bfc2d8;
  --theme-feature-item-selected: #373746;
  --theme-feature-item-selected-text: hsl(240, 26%, 85%);
  --theme-feature-item-indicator: #fff;

  --theme-secondary-feature: var(--theme-feature-item-selected);

  --theme-button-special-choice: var(--theme-button);
  --theme-button-special-choice--text: #fff;

  --theme-heading-background: #343956;
  --theme-heading-text: #c0cddf;

  --theme-chart-background: var(--theme-page);
  --theme-chart-price: var(--theme-header-text);

  --theme-button: #3a3a4a;
  --theme-button-active: #c5dbed;
  --theme-button-text: hsl(240, 39%, 80%);
  --theme-button-light: #f1f5f8;
  --theme-button-light-text: #8795a1;
  --theme-button-inner-box: hsl(240, 11%, 32%);
  --theme-button-inner-box-hover: hsl(240, 71%, 61%);
  --theme-action-button: #eff0f6;
  --theme-action-button-text: #8d93ad;
  --theme-action-button-text-hover: #789fba;
  --theme-option-button: #3d456d;
  --theme-option-button-hover: #cc5e60;
  --theme-option-button-text: hsl(240, 18%, 69%);
  --theme-switch-button: var(--theme-button);
  --theme-option-heading-button: #2b2b35;
  --theme-option-heading-button-hover: var(--theme-color-complimentary);
  --theme-option-heading-button-text: #9b9db9;
  --theme-input-toggle-choice: #f1f5f8;
  --theme-input-toggle-choice-text: #606f7b;
  --theme-input-field-border: #b9c2d7;
  --theme-modal-footer-button: #e7d28e;
  --theme-modal-footer-button-text: #b3a36f;

  --theme-explanation-background: #e2edf8;
  --theme-explanation-text: #7f95ab;

  --theme-settings: white;
  --theme-settings-hover: #f0f1f8;
  --theme-settings-sub: #2d3747; /* NOTE: not used on light theme */
  --theme-settings-button: #2d3747; /* NOTE: not used on light theme */
  --theme-settings-heading: #2d3747;
  --theme-settings-border: #3a3a4a;
  --theme-settings-text: #8a91b8;
  --theme-settings-text-hover: #8a91b8;
  --theme-settings-switch: var(--theme-button);
  --theme-settings-control-title: #2d3747;
  --theme-settings-border-radius: .5rem;

  --theme-voting-banner-background: var(--theme-feature-item-alternative);
  --theme-voting-banner-text: var(--theme-feature-item-alternative-text);
  --theme-voting-banner-button: #cfddec;
  --theme-voting-banner-button-hover: #b1c9e2;
  --theme-voting-banner-button-text: #90a9c6;
  --theme-voting-banner-button-text-hover: #6785a9;

  --theme-fee-gradient-start: var(--theme-modal);
  --theme-fee-gradient-end: rgba(0,124,255,0.20);
  --theme-fee-handler-outside: var(--theme-button-text);
  --theme-fee-handler-inside: var(--theme-modal);
  --theme-fee-range-track: var(--theme-page-text-light);
  --theme-fee-range-track-active: var(--theme-button-text);
  --theme-fee-range-shadow: rgba(9, 100, 228, 0.34);

  --theme-sidebar-menu-background: #fff;
  --theme-sidebar-menu-text--active: var(--theme-color-primary);

}

.theme-pro {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.theme-pro a,
.theme-pro a:hover {
  color: var(--theme-option-button-text);
}

.theme-pro h1,
.theme-pro h2,
.theme-pro h3,
.theme-pro h4 {
  color: var(--theme-header-text) !important;
}

.theme-pro .text-blue {
  color: var(--theme-color-complimentary);
}

.theme-pro .bg-blue {
  background-color: var(--theme-color-complimentary);
}

/* Dashboard */

.theme-pro .bg-theme-chart-background {
  border-bottom: 1px solid var(--theme-settings-border);
}

.theme-pro .Dashboard__wallets {
  background-color: var(--theme-page-light);
}

.theme-pro .Dashboard__wallets > div:first-child {
  margin-top: 0;
}

.theme-pro .Dashboard__wallets__list {
  background-color: transparent;
}

.theme-pro .Dashboard__wallets__button {
  margin: 0;
}

.theme-pro .Dashboard__wallets__button > a {
  padding: 1.5rem;
  width: 100%;
}

.theme-pro .Dashboard__wallets__button:first-child {
  border-right-width: 1px;
}

.theme-pro .ButtonSwitch--active .ButtonSwitch__circle {
  background-color: #fff;
}

.theme-pro .WalletSidebar {
  background-color: var(--theme-page-light);
}

.theme-pro .WalletSidebar__menu {
  background-color: var(--theme-page-light);
}

.theme-pro .WalletSidebar--expanded .WalletSidebar__wallet__wrapper {
  border-width: 0;
}

.theme-pro .WalletSidebar--collapsed .WalletSidebar__wallet__wrapper {
  border-color: var(--theme-settings-border);
}


.theme-pro .App__main {
  background: var(--theme-background) !important;
}

.theme-pro .App__container {
  background-color: var(--theme-page);
  border-radius: var(--theme-settings-border-radius);
  box-shadow: 0 22px 40px rgba(10, 15, 60, 0.12);
  margin: 1rem 0 !important;
}

.theme-pro .App__page > .bg-theme-feature,
.theme-pro .App__page > [class*="__heading"],
.theme-pro .App__page > .PluginManager__wrapper {
  border: 0;
  margin: 0;
}

.theme-pro .App__page > .PluginManager__banner {
  border-width: 1px 1px 0;
  border-color: var(--theme-settings-border);
  border-radius: 0;
}

.theme-pro .App__page > .PluginManager__banner h1,
.theme-pro .App__page > .PluginManager__banner h2,
.theme-pro .App__page > .PluginManager__banner h3,
.theme-pro .App__page > .PluginManager__banner h4 {
  color: var(--theme-page) !important;
}

.theme-pro .WalletDetails > .bg-theme-feature {
  border-width: 0 0 1px 1px;
  border-color: var(--theme-settings-border);
}

.theme-pro .AppSidemenu--vertical {
  margin: 0;
}

.theme-pro .AppSidemenu--horizontal {
  height: auto;
}

.theme-pro .AppSidemenu--horizontal .AppSidemenu__item {
  height: 100%;
}

.theme-pro .AppSidemenu--vertical .AppSidemenu__container__scrollable {
  background-color: var(--theme-page-light);
  border-radius: 0 0 0 var(--theme-settings-border-radius);
}

.theme-pro .AppSidemenu__logo {
  background-color: var(--theme-page-light) !important;
  border-radius: 0;
  margin: 0;
}

.theme-pro .AppSidemenu--vertical .AppSidemenu__logo {
  border-radius: var(--theme-settings-border-radius) 0 0 0;
}

.theme-pro .MenuNavigationItem {
  transition: background-color .3s ease, color .3s ease;
}

.theme-pro .AppSidemenu__item.MenuNavigationItem--active,
.theme-pro .AppSidemenu__item.MenuNavigationItem--active:hover {
  color: #fff;
  background-color: var(--theme-color-primary);
}

.theme-pro .AppSidemenu__item:not(.MenuNavigationItem--active):hover {
  background-color: var(--theme-page-light);
}

.theme-pro .MenuNavigationItem--active > .MenuNavigationItem__border,
.theme-pro .MenuNavigationItem:hover > .MenuNavigationItem__border {
  height: 100%;
  box-shadow: none;
}

.theme-pro .MenuNavigationItem:not(.MenuNavigationItem--active):hover > .MenuNavigationItem__border {
  box-shadow: none;
}

.theme-pro .WalletSidebar__wallet.MenuNavigationItem--active > .MenuNavigationItem__border {
  box-shadow: inset -.15rem 0px 0px 0px var(--theme-feature-item-indicator);
}

.theme-pro .text-theme-footer-text {
  color: #fff;
}

.theme-pro .WalletGrid__wallet__name {
  color: var(--theme-header-text);
}

/* Button overrides */

.theme-pro .blue-button:hover,
.theme-pro .blue-small-button:hover,
.theme-pro .WalletNew__ButtonReload-colorClass:hover,
.theme-pro .ContactAll__CreateButton:hover,
.theme-pro .PluginManagerButtonInstallSource:hover {
  background-color: var(--theme-color-primary);
  box-shadow: 0 5px 15px rgba(21, 36, 156, 0.25);
}

.theme-pro .PluginManagerButtonInstallSource:hover .PluginManagerButtonInstallSource__icon,
.theme-pro .ContactAll__CreateButton:hover .ContactAll__CreateButton__icon {
  background-color: var(--theme-button-inner-box-hover) !important;
}

.theme-pro .bg-theme-button-special-choice {
  background-color: var(--theme-button-special-choice);
  color: var(--theme-button-special-choice--text);
}

.theme-pro .MarketChartHeader__button:hover {
  opacity: 1;
  background-color: transparent;
  color: var(--theme-button-special-choice--text);
}

.theme-pro .ButtonLayout {
  color: var(--theme-option-button-text) !important;
}



.theme-pro .bg-theme-settings > a {
  color: #8795a1;
}

.theme-pro .bg-theme-settings > a:hover {
  color: #fff;
}

/* Wallet page */

.theme-pro .WalletButton__create,
.theme-pro .WalletButton__export {
  border-width: 0;
}

.theme-pro .WalletGrid {
  grid-gap: 1rem;
}

.theme-pro .WalletGrid__wallet {
  background-color: var(--theme-page-light);
  border: 0;
  border-radius: .5rem;
  transition-property: box-shadow, background-color;
}

.theme-pro .WalletGrid__wallet:hover {
  transform: none;
  background-color: #3a3a4a;
}

.theme-pro .WalletGrid__wallet:not(:hover)::after {
  display: none;
}

.theme-pro .WalletGrid__wallet__wrapper {
  border: 0;
}

.theme-pro [class^="WalletButton__"] > a > .rounded-full {
  transition: background-color .3s ease, color .3s ease;
}

.theme-pro [class^="WalletButton__"] > a:hover > .rounded-full {
  opacity: 1;
  background-color: var(--theme-color-primary);
  color: #fff;
}


/* Transaction page */

.theme-pro .WalletHeading {
  border-radius: 0;
}

.theme-pro .WalletHeading :not(.Identicon) > svg rect {
  fill: var(--theme-transaction-detail-highlight);
}


/* Plugins page */

.theme-pro .PluginManagerSideMenu__categories li:hover,
.theme-pro .PluginManagerSideMenu__categories li.active {
  border-color: var(--theme-color-complimentary);
}


/* Media queries */

@media (min-width: 768px) {

  .theme-pro .App__page {
    max-height: calc(100vh - 3rem);
  }

}